extends layout_friends

block content
    div(class='dati')
        h3(id='name') #{name}
        h5(id='email') #{email}
        div(id='image')
            img(class='circle' src= image)
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATG1tW_2n_3vYlJt9T83YB4VvRVxfUthE&callback=initMap' async defer)
        div(id="googleMap" style="width:1200px;height:650px;")
        br
        table
            tr
                td
                    button(id='home' onclick="location.assign('https://app-ggd94.c9users.io/users/FBLogin/confirm')").
                        HOME
            
