extends layout_friends

block content
    div(class='dati')
        h3(id='name') #{name}
        h5(id='email') #{email}
        div(id='image')
            img(class='circle' src= image)
        script(src='https://maps.googleapis.com/maps/api/js?key=&callback=initMap' async defer)
        div(id="googleMap" style="width:1200px;height:650px;")
        br
        table
            tr
                td 
                    input(type='text' id='place' maxlenght='40' placeholder='search place')
                td
                    button(name='place' onclick='place()').
                        search
            tr
                td
                    button(id='home' onclick="location.assign('https://application-giulia.rhcloud.com/users/FBLogin/confirm')").
                        HOME
            
