doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout-page.css')
    script. 
        var array_luoghi= !{luoghi};
        var array_foto= !{photos};
    script(src='../../javascripts/maps.js')
  body
    block content
