doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout-page.css')
    script 
        var array=JSON.parse('!{luoghi}');
    script(src='../../javascripts/maps.js')
  body
    block content
